.amount-con {
  display: flex;
  border: 2px solid #29a734;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  margin-top: 2rem;
  .income,
  .expense {
    grid-column: span 2;
  }
  .income,
  .expense,
  .balance {
    background: #af4078;
    border: 2px solid #a72929;
    box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.06);
    border-radius: 20px;
    margin: 1rem;
    padding: 1rem;
    p {
      font-size: 2.5rem;
      font-weight: 500;
    }
  }

  .balance {
    grid-column: 2 / 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p {
      color: var(--color-green);
      opacity: 0.6;
      font-size: 2.5rem;
    }
  }
}

.summary {

}
