/* src/components/dashboard/RecentTransactions.css */
.recent-transactions {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.recent-transactions h3 {
    font-size: 20px;
    margin-bottom: 20px;
}

.recent-transactions ul {
    list-style-type: none;
    padding: 0;
}

.recent-transactions li {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
}

.recent-transactions li span {
    font-size: 16px;
}

.recent-transactions li:last-child {
    border-bottom: none;
}