.history-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.history-item {
    background: #fcf6f9;
    border: 2px solid #ffffff;
    box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.06);
    padding: 1rem;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.income-item {
    color: var(--color-green);
}

.expense-item {
    color: red;
}