/* Sidebar  */
#sidebar {
    grid-area: sidebar;
    display: relative;
    height: 100%;
    background-color: #26304397;
    overflow-y: auto;
    transition: all ease 0.5s;
    -webkit-transition: all 0.5s;
}

.sidebar-title {
    margin: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px 0px 30px;
    margin-bottom: 30px;
    border-radius: 8px;
    box-shadow: 1px 1px 1px 1px rgb(63, 57, 75);

}

.sidebar-title h1 {
    font-size: 24px;
    font-weight: 800;
    color: #ffffff;
}

.sidebar-brand {
    align-items: center;
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
}

.sidebar-title>span {
    display: none;
}

.sidebar-list {
    padding: 0;
    list-style-type: none;
}

.sidebar-list-item {
    padding: 20px 20px 20px 20px;
    font-size: 20px;
}

.sidebar-list-item:hover {
    background-color: rgba(255, 255, 255, 0.066);
    cursor: pointer;
}

.sidebar-list-item>a {
    text-decoration: none;
    color: #9e9ea4;
}

.sidebar-responsive {
    display: inline !important;
    position: absolute;
    /*
    we want the z-index of the sidebar higher so that
    the charts are not showing over the sidebar 
    on small screens
  */
    z-index: 12 !important;
}

.sidebar-responsive>span {
    display: inline-block !important;
    padding: 10px;
    background-color: #ffffff;
    color: #263043;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.sidebar-log-out {
    margin-top: 100px;
    margin-left: 10px;
    padding: 20px 20px 20px 20px;
    /* color: #ff0000; Changed color to red */
}

.sidebar-log-out p {
    font-style: oblique;
    text-decoration: none;
    font-size: 30px;
    color: #908989;
    /* Changed color to red */
    cursor: pointer;
    margin: 0;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.sidebar-log-out p:hover {
    background-color: rgba(255, 0, 0, 0.1);
    color: #eb1212;
}

/* End Sidebar  */