/* src/components/common/Button.css */
.btn {
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    color: white;
    cursor: pointer;
    background-color: #007bff;
}

.btn:hover {
    background-color: #0056b3;
}

.btn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}